.hero {
  background-color: var(--hero-bg-color);
  color: var(--hero-text-color);
  padding-top: 0;
}

.hero .hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 10rem;
  color: var(--primary);
}

.hero .hero__title {
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(var(--text-lg), var(--sidebar), var(--text-xxxl));
  line-height: 1;
  display: inline;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-align: end;
}

.hero .hero__title-text {
  display: block;
}

.hero .hero__text {
  margin-top: var(--spacing-lg);
}

.hero .title {
  margin-bottom: 0;
}

@media screen and (max-width: 755px) {
  .hero .hero__header {
    display: block;
    min-height: auto;
    font-size: 3rem;
  }

  .hero .hero__title {
    writing-mode: initial;
    text-orientation: initial;
    transform: none;
    text-align: initial;
  }

  .hero .hero__title-text {
    display: none;
  }
}
