.list {
    margin-left: var(--spacing-base);
}

.list li {
    padding-left: var(--spacing-base);
}

.list li::marker {
    content: '\02731';
    font-size: var(--text-xs);
    color: var(--light);
}

.list.lines li {
    position: relative;
    padding: var(--spacing-md) 0;
}

.list.lines li .uppercase {
    display: block;
    margin-bottom: var(--spacing-base);
    font-size: var(--text-xs);
}

.list.lines li:after {
    content: '';
    background-color: currentColor;
    width: 100%;
    height: 1px;
    top: 100%;
    position: absolute;
}

.list.lines li::marker {
    content: none;
}
