.mouse {

    position: fixed;
    inset: 0;

    width: 2rem;
    height: 2rem;

    pointer-events: none;
    mixed-blend-mode: difference;
    background-color: var(--accent);	
    border-radius: 50%;

    transform: scale(0);
}