.mouse {
    /* position: fixed;
    inset: 0;
    
    width: 2rem;
    height: 2rem;
    
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: var(--accent);    
    border-radius: 50%;
    
    @media (max-width: 768px) {
        display: none;
    } */
}