.scroll {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-xl);
  max-width: calc(100vw - (var(--sidebar)));
  margin-right: -var(--spacing-md);
  overflow: hidden;
  position: relative;
}

.scroll .scroll__list {
  list-style: none;
  display: flex;
  padding-left: 35%;
}

.scroll .scroll__list li {
  min-width: 21rem;
}

.scroll .scroll__list li blockquote {
  margin-top: var(--spacing-lg);
}

.author {
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

@media screen and (max-width: 755px) {
  .scroll {
    max-width: 100vw;
  }

  .scroll .scroll__list {
    padding-left: 0;
  }
}
