
.text:not(.text.expertise-section) {
    max-width: 22rem;
}

.text h2 {
    position: relative;
    font-family: var(--font-normal);
    font-size: var(--text-xs);
    margin-bottom: var(--spacing-md);
    display: block;
}

.text h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--spacing-md) / 3);  height: 1px;
    width: 100%;
    background-color: currentColor;
}

.text-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}
