.footer__idk {
    margin-bottom: 100vh;
}

.footer {
    opacity: 1;
    z-index: -1;
    position: fixed;
    inset: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    color: var(--secondary-dark);
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.footer h2 {
    text-align: center;
}

.footer .button {
    margin-top: -5rem; 
}

@media screen and (min-width: 768px) {
    .footer .button {
        margin-top: -10rem; 
    }
}
