.nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-base);
    height: var(--navbar-height);
    color: var(--primary);
}

.nav .nav__logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
    text-transform: lowercase;
}

.nav__logo {
    margin-right: auto;
}

@media screen and (max-width: 576px) {
    .nav__logo {
        scale: 0.85;
        transform-origin: left center;
    }
}

@media screen and (max-width: 365px) {
    .nav__logo {
        scale: 0.75;
    }
}

.nav .nav__title {
    font-size: var(--text-lg);
}

.nav .nav__text {
    display: inline-block;
    padding-bottom: var(--spacing-base);
    font-size: var(--text-xs);
}
