:root {
  /* Typography */
  --font-normal: "Akzidenz-Grotesk BQ", sans-serif;
  --font-display: Canela, serif;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 5rem;
  --spacing-xl: 7rem;

  /* Colors */
  --light: #f8f6f1;
  --dark: #1b1b1b;
  --primary: #082b9d;
  --secondary-dark: #0d4135;
  --secondary-medium: #12644a;
  --secondary-light: #8acdb8;
  --muted: #a2543d;
  --accent: #f4b63e;
  --soft: #f7d1ba;
  --bright: #ffffff;

  /* Theme Colors */
  --hero-bg-color: var(--light);
  --hero-text-color: var(--primary);

  /* Font Sizes */
  --text-xs: 0.85rem;
  --text-sm: 1.1rem;
  --text-base: 1.25rem;
  --text-bm: 1.3rem;
  --text-md: 2.5rem;
  --text-lg: 4.25rem;
  --text-xl: 7rem;
  --text-xxl: 12rem;
  --text-xxxl: 14.5rem;

  --sidebar: 16vw;
}
