.uppercase,
.text,
.scroll__list {
    text-transform: uppercase;
    font-weight: 400;
}

.uppercase.uppercase__wide,
.text p,
.text li,
.scroll__list p,
.scroll__list li {
    font-size: var(--text-bm);
    line-height: 1.35;
    letter-spacing: .05rem;
}

body {
    font-family: var(--font-normal);
    font-size: var(--text-base);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, .font-heading {
    font-family: var(--font-display);
    font-weight: 400;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary-light);
}