@import "/src/styles/abstracts/_variables.css";

@import "/src/styles/base/_fonts.css";
@import "/src/styles/base/_reset.css";
@import "/src/styles/base/_typography.css";

@import "/src/styles/layout/_container.css";
@import "/src/styles/layout/_navigation.css";
@import "/src/styles/layout/_grid.css";

@import "/src/styles/components/_hero.css";
@import "/src/styles/components/_mouse.css";
@import "/src/styles/components/_title.css";
@import "/src/styles/components/_text.css";
@import "/src/styles/components/_scroll.css";
@import "/src/styles/components/_list.css";
@import "/src/styles/components/_buttons.css";
@import "/src/styles/components/_svg.css";

@import "/src/styles/partials/_footer.css";
@import "/src/styles/partials/_preloader.css";


.spacing {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.color-section__primary {
  background-color: var(--primary);
  color: var(--bright);
}

.color-section__green {
  background-color: var(--secondary-medium);
  color: var(--secondary-light);
}

.color-section__muted {
  background-color: var(--muted);
  color: var(--soft);
}
