/* Akzidenz-Grotesk BQ */
@font-face {
  font-family: "Akzidenz-Grotesk BQ";
  src: url("/assets/fonts/subset-AkzidenzGroteskBQ-Reg.29047bd5.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Canela Light */
@font-face {
  font-family: "Canela Light";
  src: url("/assets/fonts/Canela-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Canela Light Italic */
@font-face {
  font-family: "Canela Light Italic";
  src: url("/assets/fonts/Canela-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Canela Regular */
@font-face {
  font-family: "Canela Regular";
  src: url("/assets/fonts/Canela-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
