/* Akzidenz-Grotesk BQ */
@font-face {
  font-family: "Akzidenz-Grotesk BQ";
  src: url("../fonts/AkzidenzGroteskBQ-Regular.woff2") format("woff2"),
    url("../fonts/AkzidenzGroteskBQ-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Canela Light */
@font-face {
  font-family: "Canela Light";
  src: url("../fonts/Canela-Light.woff2") format("woff2"),
    url("../fonts/Canela-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Canela Light Italic */
@font-face {
  font-family: "Canela Light Italic";
  src: url("../fonts/Canela-LightItalic.woff2") format("woff2"),
    url("../fonts/Canela-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Canela Regular */
@font-face {
  font-family: "Canela Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"),
    url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
