body {
  background-color: var(--light);
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-normal);
  font-size: var(--text-base);
  color: var(--dark);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  opacity: 1;
  overflow: hidden;

  &.section--spacing {
    padding: var(--spacing-lg) 0;
  }
}
